.inbox-head
  %h3 Inbox
  %form.pull-right.position{:action => "#"}
    .input-append
      %input.sr-input{:placeholder => "Search Mail", :type => "text"}
        %button.btn.sr-btn{:type => "button"}
          %i.fa.fa-search
.inbox-body
  .mail-option
    .chk-all
      %input.mail-checkbox.mail-group-checkbox{:type => "checkbox"}
        .btn-group
          %a.btn.mini.all{"data-toggle" => "dropdown", :href => "#"}
            All
            %i.fa.fa-angle-down
          %ul.dropdown-menu
            %li
              %a{:href => "#"} None
            %li
              %a{:href => "#"} Read
            %li
              %a{:href => "#"} Unread
    .btn-group
      %a.btn.mini.tooltips{"data-original-title" => "Refresh", "data-placement" => "top", "data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-refresh
    .btn-group.hidden-phone
      %a.btn.mini.blue{"data-toggle" => "dropdown", :href => "#"}
        More
        %i.fa.fa-angle-down
      %ul.dropdown-menu
        %li
          %a{:href => "#"}
            %i.fa.fa-pencil
            Mark as Read
        %li
          %a{:href => "#"}
            %i.fa.fa-ban
            Spam
        %li.divider
        %li
          %a{:href => "#"}
            %i.fa.fa-trash-o
            Delete
    .btn-group
      %a.btn.mini.blue{"data-toggle" => "dropdown", :href => "#"}
        Move to
        %i.fa.fa-angle-down
      %ul.dropdown-menu
        %li
          %a{:href => "#"}
            %i.fa.fa-pencil
            Mark as Read
        %li
          %a{:href => "#"}
            %i.fa.fa-ban
            Spam
        %li.divider
        %li
          %a{:href => "#"}
            %i.fa.fa-trash-o
            Delete
    %ul.unstyled.inbox-pagination
      %li
        %span 1-50 of 234
      %li
        %a.np-btn{:href => "#"}
          %i.fa.fa-angle-left.pagination-left
      %li
        %a.np-btn{:href => "#"}
          %i.fa.fa-angle-right.pagination-right
  %table.table.table-inbox.table-hover
    %tbody
      %tr.unread
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Arjuna Admin
        %td.view-message Lorem ipsum dolor imit set.
        %td.view-message.inbox-small-cells
          %i.fa.fa-paperclip
        %td.view-message.text-right 9:27 AM
      %tr.unread
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show John Doe
        %td.view-message Hi Bro, How are you?
        %td.view-message.inbox-small-cells
        %td.view-message.text-right March 15
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Jabuk Doe
        %td.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
        %td.view-message.text-right June 15
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Facebook
        %td.view-message Dolor sit amet, consectetuer adipiscing
        %td.view-message.inbox-small-cells
        %td.view-message.text-right April 01
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star.inbox-started
        %td.view-message.dont-show
          Cendy Andrianto
          %span.label.label-danger.pull-right urgent
        %td.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
        %td.view-message.text-right May 23
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star.inbox-started
        %td.view-message.dont-show Facebook
        %td.view-message Dolor sit amet, consectetuer adipiscing
        %td.view-message.inbox-small-cells
          %i.fa.fa-paperclip
        %td.view-message.text-right March 14
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star.inbox-started
        %td.view-message.dont-show Rosid nur
        %td.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
          %i.fa.fa-paperclip
        %td.view-message.text-right January 19
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show
          Facebook
          %span.label.label-success.pull-right megazine
        %td.view-message.view-message Dolor sit amet, consectetuer adipiscing
        %td.view-message.inbox-small-cells
        %td.view-message.text-right March 04
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Cendy Andrianto
        %td.view-message.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
        %td.view-message.text-right June 13
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show
          Facebook
          %span.label.label-info.pull-right family
        %td.view-message.view-message Dolor sit amet, consectetuer adipiscing
        %td.view-message.inbox-small-cells
        %td.view-message.text-right March 24
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star.inbox-started
        %td.view-message.dont-show Fikriandro
        %td.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
        %td.view-message.text-right March 09
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star.inbox-started
        %td.dont-show Facebook
        %td.view-message Dolor sit amet, consectetuer adipiscing
        %td.view-message.inbox-small-cells
          %i.fa.fa-paperclip
        %td.view-message.text-right May 14
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Badrasianto
        %td.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
          %i.fa.fa-paperclip
        %td.view-message.text-right February 25
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.dont-show Facebook
        %td.view-message.view-message Dolor sit amet, consectetuer adipiscing
        %td.view-message.inbox-small-cells
        %td.view-message.text-right March 14
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Daemon emon
        %td.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
        %td.view-message.text-right April 07
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Twitter
        %td.view-message Dolor sit amet, consectetuer adipiscing
        %td.view-message.inbox-small-cells
        %td.view-message.text-right July 14
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star.inbox-started
        %td.view-message.dont-show Sumomonosuke
        %td.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
        %td.view-message.text-right August 10
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Facebook
        %td.view-message.view-message Dolor sit amet, consectetuer adipiscing
        %td.view-message.inbox-small-cells
          %i.fa.fa-paperclip
        %td.view-message.text-right April 14
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Daemon nikiwa
        %td.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
          %i.fa.fa-paperclip
        %td.view-message.text-right June 16
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star.inbox-started
        %td.view-message.dont-show Sumomonosuke
        %td.view-message Lorem ipsum dolor sit amet
        %td.view-message.inbox-small-cells
        %td.view-message.text-right August 10
      %tr
        %td.inbox-small-cells
          %input.mail-checkbox{:type => "checkbox"}
        %td.inbox-small-cells
          %i.fa.fa-star
        %td.view-message.dont-show Facebook
        %td.view-message.view-message Dolor sit amet, consectetuer adipiscing
        %td.view-message.inbox-small-cells
          %i.fa.fa-paperclip
        %td.view-message.text-right April 14
/ mail inbox end